@using Microsoft.AspNetCore.Identity
@using testkrs.Models
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<nav class="navbar navbar-inverse navbar-fixed-top" style="width:inherit">
    <div class="container" style="width:inherit">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a routerLink="/home" routerLinkActive="active" class="navbar-brand">testkrs</a>
        </div>
        <div class="navbar-collapse collapse">
            <div class="nav navbar-nav navbar-left" style=" vertical-align:central">
                <div class="input-group" style="max-width:inherit;">
                    <input [(ngModel)]="angularClientSideData" placeholder="Searching..." type="text" class="form-control" style="width:inherit; margin-top:10px"/>                  
                    <button data-toggle="modal" data-target="#mySearch" class="btn btn-default glyphicon glyphicon-search" style="margin-top:9px" (click)="searchInstructions()"></button>
                </div>
            </div>
            @await Html.PartialAsync("_LoginPartial")          
        </div>
    </div>    
</nav>

<div *ngIf="searchClick" class="modal fade" id="mySearch" role="dialog" tabindex="-1" aria-labelledby="mySearchLable">
    <div class="modal-dialog" role="document" style="width:100%">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div *ngFor="let searchdata of searchresult" class="col-md-3">
                        <div class="card" [routerLink]="['/about',searchdata.instructionId]" onclick="document.location.reload()" style="min-height:360px">
                            <img class="card-img-top" src="{{searchdata.instructionImage}}" style="max-height:194px;max-width:260px" />
                            <div class="card-block">
                                <h4 class="card-title">{{searchdata.instructionsName}}</h4>
                                <p class="card-text">{{searchdata.instructionTitle}}</p>
                                <a [routerLink]="['/about',searchdata.instructionId]" class="btn btn-primary" onclick="document.location.reload()">Show</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog" tabindex="-1" aria-labelledby="myModal">
    <div class="modal-dialog" role="document" style="max-width:300px;">
        <div class="modal-content" >
            @await Html.PartialAsync("~/Views/Account/Login.cshtml")
        </div>
    </div>
</div>
<div class="modal fade" id="myModalProfile" role="dialog" tabindex="-1" aria-labelledby="myModalProfile">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:auto;">
            @await Html.PartialAsync("~/Views/Manage/Index.cshtml")
        </div>
    </div>
</div>
<div class="modal fade" id="myModalRegister" role="dialog" tabindex="-1" aria-labelledby="myModalLabelRegister">
    <div class="modal-dialog" role="form" style="max-width:300px">
        <div class="modal-content">
            @await Html.PartialAsync("~/Views/Account/Register.cshtml")
        </div>
    </div>
</div>

<div class="container body-content" style="width:inherit;padding-right:0px;padding-left:0px;">
    <router-outlet></router-outlet>
    <hr />
    <footer>
        <div style="padding-right:0px;padding-left:80%;">
            @await Html.PartialAsync("~/Views/Shared/_SelectLanguagePartial.cshtml")
        </div>
    </footer>
</div>
