@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<nav class="navbar navbar-inverse navbar-fixed-top" style="width:inherit">
    <div class="container" style="width:inherit">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a routerLink="/home" routerLinkActive="active" class="navbar-brand">testkrs</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left" style=" vertical-align:central">
                <li class="input-group" style="max-width:inherit;">
                    <input type="text" class="form-control" placeholder="Search for..." style="width:inherit; margin-top:10px">                  
                    <button class="btn btn-default glyphicon glyphicon-search" type="button" style="margin-top:9px"></button>
                </li>
            </ul>
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>    
</nav>

<div class="modal fade" id="myModal" role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="max-width:300px">
        <div class="modal-content">
            @await Html.PartialAsync("~/Views/Account/Login.cshtml")
        </div>
    </div>
</div>
<div class="modal fade" id="myModalProfile" role="dialog" tabindex="-1" aria-labelledby="myModalProfile">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:auto;">
            @await Html.PartialAsync("~/Views/Manage/Index.cshtml")
        </div>
    </div>
</div>
<div class="modal fade" id="myModalRegister" role="dialog" tabindex="-1" aria-labelledby="myModalLabelRegister">
    <div class="modal-dialog" role="form" style="max-width:300px">
        <div class="modal-content">
            @await Html.PartialAsync("~/Views/Account/Register.cshtml")
        </div>
    </div>
</div>

<div class="container body-content" style="width:inherit;padding-right:0px;padding-left:0px;">
    <router-outlet></router-outlet>
    <hr />
    <footer>
        <div style="padding-right:0px;padding-left:80%;">
            @await Html.PartialAsync("~/Views/Shared/_SelectLanguagePartial.cshtml")
        </div>
    </footer>
</div>