@using Microsoft.AspNetCore.Identity
@using testkrs.Models
@using Microsoft.AspNetCore.Mvc.Localization
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IViewLocalizer Localizer

<div *ngIf="noMyUserClick" class="modal fade" id="noMyProfile" role="dialog" tabindex="-1" aria-labelledby="noMyProfileLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @await Html.PartialAsync("~/Views/Manage/UserView.cshtml")
        </div>
    </div>
</div>

<div *ngFor="let mystep of mysteps; let j = index" class="modal fade" [id]="j" role="dialog" tabindex="-1" aria-labelledby="j">
    <div class="modal-dialog" role="document" style="min-width:700px">
        <div class="modal-content" style="width:auto">
            <div class="modal-header">
                <div class="modal-title" style="font-size:24px">
                    @Localizer["Step"] {{mystep.numStep}}
                </div>
            </div>
            <div class="modal-body">               
                <div *ngFor="let myblock of myblocks; let a = index">
                    <div *ngIf="mystep.instructionStepId == myblock.stepPath" style="max-width:100%">                        
                        <input class="form-control" type="text" [(ngModel)]="myblock.textComtent" style="width:100%; margin-top:15px" placeholder="About Block"/>                      
                        <input class="form-control" type="text" [(ngModel)]="myblock.imageContent" style="width:100%;height:auto;" placeholder="Image Url" />
                        <input class="form-control" type="text" [(ngModel)]="myblock.youtoubeUrl" placeholder="Video Url" style="width:100%;height:auto;"/>
                        <hr />
                    </div>
                </div>      
                <button class="btn btn-default" style="width:30%" (click)="incrNumBlock()">Add Block</button>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="media">
        <div class="media-body">
            <h1><input [(ngModel)]="mydata.instructionName" type="text" placeholder="Instruction Name"/></h1>
            <div class="btn btn-link" href="#" alt=@Localizer["SearchByCategory"]>
                <h2>@Localizer["Category"] <input [(ngModel)]="mydata.instructionCategory" type="text" placeholder="Category"></h2>
            </div>
            <input type="text" placeholder="#tegs" />
            <div>
                <h3><input [(ngModel)]="mydata.instructionTitle" type="text" placeholder="About Instruction" style="width:100%"/></h3>
            </div>
        </div>
        <div class="media-right">          
                <div class="card" style="max-height:inherit;max-width:inherit" data-target="#noMyProfile" (click)="setNoMyprofile(author.profileId)">
                    <img class="card-img-top" src="{{author?.avaProfile}}" style="max-height:256px;max-width:256px" alt="" />
                    <div class="card-block">
                        <p class="card-text">{{author?.nikProfile}}</p>
                    </div>
                </div>
        </div>
    </div>
</div>

<div class="row">
    <div class=" col-md-4 " *ngFor="let mystep of mysteps;let i = index" style="height:230px; text-align:center;vertical-align:middle">
        <button class="btn btn-default" data-toggle="modal"
                [attr.data-target]="'#'+i"
                style="color:black;font-size:50px; text-align:center;vertical-align:middle; height:inherit;width:90%" (click)=" setStep(mystep.numStep)">
            @Localizer["Step"] {{mystep.numStep}}
        </button>
    </div>
    <button class="btn btn-default" style="width:30%;height:230px;font-size:24px" (click)="incrNumStep()">
        Add Step
    </button>
</div>

<button class="btn btn-info" style="width:100%">Publish</button>
